node_modules

# Output
.svelte-kit

# Turbo
.turbo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDEs
.vscode
.zed
.idea

# Firebase
*-debug.log
.firebase
